/* Recipes */
.Recipes {
  margin-top: -17em;
  /* background-color: #fff;
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
  border-radius: 1em; */
}

.font-Regular{
  font-family:'Lobster-Regular';
  color: goldenrod;
}

.font-Regular:hover{
  color:rgba(255, 217, 0, 0.904);
}

#Title-Recipes{
  color: white;
}

.Category {
  margin: 0px;
}
